<ion-header>
   <ion-navbar>
      <ion-title>{{ pageTitle }}</ion-title>
   </ion-navbar>
</ion-header>


<ion-content padding>

   <div>
      <ion-item *ngIf="isEdited && !hideForm">
         <button
            ion-button
      item-right
      color="secondary"
      text-center
      block
      (click)="deleteComic()">Remove this Entry?</button>
      </ion-item>


      <div *ngIf="hideForm">
         <ion-item class="post-entry-message" text-wrap>
            <h2>Success!</h2>
       <p>Maybe you'd like to edit an existing entry or add a new record?</p>
       <p>Simply go back to the home page and select the option you want to pursue.</p>
         </ion-item>
      </div>



      <div *ngIf="!hideForm">
         <form [formGroup]="form" (ngSubmit)="saveComic()">

            <ion-list>
               <ion-item-group>
                  <ion-item-divider color="light">Publication Name</ion-item-divider>
                  <ion-item>
                     <ion-label>Please select: </ion-label>
                     <ion-select
                        class="select"
      interface="action-sheet"
      formControlName="title"
            block
      [(ngModel)]="comicTitle">
      <ion-option value="Battle/Action Force">Battle/Action Force</ion-option>
      <ion-option value="Eagle">Eagle</ion-option>
      <ion-option value="2000AD">2000AD</ion-option>
      <ion-option value="Scream">Scream</ion-option>
      <ion-option value="Other">Other</ion-option>
                     </ion-select>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Character Name</ion-item-divider>
                  <ion-item>
                     <ion-input
                        type="text"
                        placeholder="Enter a name..."
                        formControlName="character"
                        [(ngModel)]="comicCharacter"></ion-input>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Character Rating</ion-item-divider>
                  <ion-item>
                     <ion-label text-left>Rating for this character?</ion-label>
                     <ion-range
                        class="textarea"
      formControlName="rating"
      min="1"
      max="5"
      step="1"
      snaps="true"
      secondary
      [(ngModel)]="comicRating">
                        <ion-label range-left>1</ion-label>
      <ion-label range-right>5</ion-label>
                     </ion-range>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Character Description</ion-item-divider>
                  <ion-item>
                     <ion-textarea
                        placeholder="Additional notes..."
      formControlName="note"
      rows="6"
      [(ngModel)]="comicNote"></ion-textarea>
                  </ion-item>
               </ion-item-group>


               <ion-item>
                  <button
                     ion-button
         color="primary"
         text-center
         block
         [disabled]="!form.valid">Save Entry</button>
               </ion-item>



            </ion-list>



         </form>
      </div>
   </div>


</ion-content>